<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Vue Forms</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>

<div id="app">
    <label>Please enter your name: </label>
    <input v-model="name">
    <!-- the p tag will render only if the name variable is not null -->
    <p v-if="name">Thanks, your name is {{ name }}</p>
    <!-- This will get rendered if name variable is null -->
    <p v-else>Awaiting user input</p>

    <button v-if="name" v-on:click="clearName">Clear</button>
</div>

<script>
    const {createApp, ref} = Vue;

    createApp({
        setup() {

            const name = ref('')

            function clearName() {
                name.value = '';
            }

            return {
                name,
                clearName
            }
        }
    }).mount('#app');
</script>

</body>
</html>